:root{
  --font: "Cambria";
  --blanc: #fefcfb;
  --bleu: #0a1128;
  --jaune: #f3a539;
  --rouge: #a32900;
  --cyan: #5bc0eb;
}
[mv-permissions~="login"] .mv-bar, [mv-permissions~="login"] .loggued {
  display: none;
}
html {
  background-color: var(--blanc);
  color: var(--bleu);
  font-family: var(--font);
}
html body a {
  color: var(--rouge);
  text-decoration: none
}
html body a:hover {
  text-decoration: underline
}
button, a[role=button] {
  color: var(--blanc);
  background-color: var(--rouge);
}
button:hover,  a[role=button]:hover {
  background-color: var(--bleu);
}
header, footer {
  background-color: var(--blanc);
}
  color: var(--bleu);
header a, footer a {
  color: var(--blanc);
  text-decoration: none
}
header a:hover, footer a:hover {
  color: var(--jaune);
  text-decoration: underline
}
header button, header a[role=button], footer button, footer a[role=button] {
  color: var(--bleu);
  background-color: var(--cyan);
}
header button:hover, header a[role=button]:hover, footer button:hover, footer a[role=button]:hover {
  background-color: var(--jaune);
}
  

