main[mv-app=accueil] {
    text-align: center;
    margin: 0;
    padding: 0;
    background: transparent;
    .parallax {
        min-height: 80vh;
        overflow-x: hidden;
        overflow-y: hidden;
        h1 {
            color: $blanc;
            text-shadow: 1px 3px $bleu;
            margin: 8vh auto;
        }
        .video-container {
            
        }
        video {
            z-index: -1;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            @media (max-width: $tablet) {
               width: auto;
               height: 100%;
               left: -50%;
            }
        }
    }
}