
:root {
    --accordion-min-height: 56px;
    --accordion-max-height: 300px;
}

main[mv-app=chants],main[mv-app=bible] {

    details {
        margin-top: 1em;
        animation-name: accordion-close;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        transform-origin: top;
        &[open] {
            animation-name: accordion-master;
            animation-duration: 0.3s;
            animation-timing-function: ease-in-out;
            transform-origin: top;
            & > summary:before {
                transform: rotate(270deg);
            }
        }
    }
    
    summary {
        background: $gris;
        cursor: pointer;
        padding: 1em;
        border-radius: 5px;
        font-weight: bold;
        &::marker {
            display:none;
        }
        &:before {
            content: '❯';
            position: absolute;
            height: 24px;
            width: 24px;
            top: 1rem;
            right: 1rem;
            transform: rotate(0deg);
            transition: .25s transform ease;
        }
    }
    
    @keyframes accordion-master {
        from {max-height: var(--accordion-min-height);}
        to {max-height: var(--accordion-max-height);}
    }
    
    @keyframes accordion-close {
        from {min-height: var(--accordion-max-height);}
        to {min-height: var(--accordion-min-height);}
    }

    aside {
        text-align: center;
    }
    
    ul.tabs {
        display: inline-flex;
        padding: 0;
        li {
            padding: 1em;
            color: $bleu;
            background-color: $jaune;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            &.active,&:hover {
                color: $jaune;
                background-color: $bleu;
            }
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
    form {
        text-align: center;
        * {
            margin: 1em;
            padding: 1em;
        }
    }
    table {
        width: 100%;
        caption {
            padding: 0.5em;
            font-weight: bold;
            color: $blanc;
            background-color: $noir;
            border: solid 1px $noir;
            em {
                color: $jaune;
            }
        }
        th {
            color: $bleu;
            background-color: $jaune;
        }
        td, th {
            text-align: center;           
            border: solid 1px $noir;
        }
    }
}