main[mv-app=clochers] {
    margin: 0 1em;
    text-align: center;
    figure {
        text-align: center;
        @media (max-width: $tablet) {
            margin: 0;
        }
        img {
            max-width: 100%
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 6em;
        padding: 0;
        li {            
            flex-grow: 1;
        }
    }
    h3 {
        margin-bottom: 0;
    }
    h4 {
        margin: 2em 0 -.5em 0;
    }
}

@media (min-width: $tablet) {
    main[mv-app=clochers] {
        article {
            padding: 1em;
        }
    }
}
