main[mv-app=contact], main[mv-app=recherche] {
  margin: 0 1em;
  h1 {
    text-align: center;
  }
  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  aside.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    font-size: 1.5em;
    line-height: 2em;
    .search-fields {
      font-size: .85em;
      margin-left: 1em;
      display: flex;
      select, input {
        font-size: .85em;
        padding: .5em;
      }
      input {
        width: 300px;
        margin-right: 1em;
        height: 1.5em
      }
      button {
        width: 3.5em;
        height: 3.5em;
        margin-left: -1.5em;
      }
    }
  }
  li::marker {
    font-size: 1.7em;
    color: $rouge;
  }
  article span {
    margin: -1em 5em 0;
    display: block;
  }
}
aside[mv-list=contact] {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  div[mv-list-items]{
    margin: 0 auto;
  }
}
div.contact {
  border: solid 1px $bleu;
  border-radius: 5px;
  background: $gris;
  display: inline-block;
  padding: 1em;
  margin: 1em -.75em;
  break-inside: avoid-column;
  a {
    display: flex;
    flex-wrap: wrap;
  }
  h5 {
    margin: 0;
  }
  div[property=fonction]{
    font-style: italic;
    letter-spacing: 2px;
  }
  ul {
    padding: .5em 0 0;
    padding-left: .5em;
    list-style: inside;
    &:not(:has(li)) {
      padding: 0;
    }
    li {
      font-size: .85em;
      &:first-child:not(:empty)::before {
        content: "Activités";
        margin-top:-1.25em;
        float:left;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: $tablet) {
  div.contact {
    margin: 1em;
  }
}