$font: "Cambria";
$blanc: #fefcfb;
$bleu: #0a1128;
$jaune: #f3a539;
$rouge: #a32900;
$cyan: #5bc0eb;
$noir: #15171e;

$tablet: 768px;

$transition: all .5s ease-out;

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

html {
    a {
      color: $rouge;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      list-style: none;
    }
    background-color: $blanc;
    color: $bleu;
    font-family: $font;
    body {
      margin: 0;
      a {
        color: $rouge;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      button, a[role=button] {
        color: $blanc;
        background-color: $rouge;
        border: 0;
        cursor: pointer;
        &:hover {
          background-color: $bleu;
        }
      }
      header, footer {
        background-color: $bleu;
        color: $blanc;
        box-shadow: 1px 1px 5px 0px $bleu;
        a {
          color: $blanc;
          text-decoration: none;
          &:hover {
            color: $jaune;
            text-decoration: none;
          }
        }
        button {
          background: transparent;
          color: $blanc;
          &:hover {
            color: $jaune;
          }
        }
      }
      main {
        h1 {
          margin-left: 2em;
        }
      }
    }
}
